/* App.css */
.canvas-container {
  width: 100vw; /* Largeur égale à 100% de la largeur de la vue du port */
  height: 100vh; /* Hauteur égale à 100% de la hauteur de la vue du port */
  overflow: hidden; /* Masquer tout défilement de la page */
}
